.dropdown-lr {
  width: 300px;
  margin-top: 10px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.3);
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}